.patient-heading {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal 800 24px/33px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}

.section-curving {
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    margin-top: 1rem;
}

.scrollable-section {
    height: 100vh;
    /* Set the height you want */
    overflow-y: scroll;
    /* Enables vertical scrolling */
    overflow-x: hidden;
    /* Prevents horizontal scrolling (optional) */
    /* border: 1px solid #ccc; 
    padding: 10px; /* Optional: padding inside the scrollable section */
}

.patient-list-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%
}

.patient-name {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal bold 14px/19px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;
}